*
{
	margin: 0;
	padding: 0;
	word-wrap: break-word;
}

body
{
	background-color: black;
}

#container
{
	width: 960px;
	margin: 0 auto;
	background-color: white;
}

header
{
	height: 100px;
	width: 910px;
	padding: 25px;
	background-color: blue;
	margin-bottom: 10px;
}

nav
{
	width: 940px;
	background-color: purple;
	padding: 10px;
	margin-bottom: 10px;
}
nav li
{
	display: inline;
	list-style-type: none;
	padding-right: 40px;
}

aside
{
	width: 200px;
	padding: 10px;
	margin: 0 10px 10px 0;
	background-color: red;
	float: left;
}

section
{
	width: 680px;
	padding: 10px;
	margin: 0 0 10px 0;
	background-color: green;
	float: right;
}

footer
{
	background-color: orange;
	clear: both;
}